{
  "root": true,
  "rules": {
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/ban-types": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "vue/valid-v-slot": "off",
    "prettier/prettier": "warn"
  },
  "plugins": ["prettier"],
  "extends": ["@nuxt/eslint-config", "plugin:prettier/recommended"]
}
